---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
    socialImage?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, heroImage, socialImage },
} = Astro.props;

const ogImage = socialImage ?? heroImage;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={ogImage} />
    <style>
      .title {
        font-size: 2em;
        margin: 0.25em 0 0;
      }
    </style>
  </head>

  <body class="min-h-screen grid grid-rows-[auto,1fr,auto]">
    <Header />
    <main class="mb-4">
      <article>
        {
          heroImage && (
            <img
              width={720}
              height={360}
              src={heroImage}
              alt=""
              class="rounded-xl overflow-hidden"
            />
          )
        }
        <div class="border-b-gray-700 pb-4 border-b mb-4">
          <h1 class="title">{title}</h1>
          {
            pubDate && (
              <time>
                {new Date(pubDate).toLocaleDateString("en-us", {
                  year: "numeric",
                  month: "short",
                  day: "numeric",
                })}
              </time>
            )
          }
          {
            updatedDate && (
              <div>
                Last updated on <time>{updatedDate}</time>
              </div>
            )
          }
        </div>
        <slot />
      </article>
    </main>

    <footer class="border-t border-t-gray-700 pt-4 min-h-[50px]">
      <p class="text-xs text-gray-300 font-light tracking-tight">
        Views expressed in this review are confidently stated as fact and are
        intended to be interpreted as such.
      </p>
    </footer>
  </body>
</html>
